body {
    font-family:Arial, Helvetica, sans-serif ;
}

h1 {
    text-align: center;
}
.first-section, 
.section,
.third-section

 {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding:30px;
}

.first-section > div > .button,
.fourth-section > div > .button {
    background-color: blue;
    color: #fff;
    border: 1px solid transparent;
    margin:10px;
    cursor: pointer;
}
.button.btn-xl {
    padding: 20px 26px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    border-radius: 3px;
}
.button.btn-lg {
    padding: 14px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 3px;
}
.button.btn-m {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
}
.button.btn-sm {
    padding: 4px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
}
.button.btn-xs {
    padding: 0px 6px;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    border-radius: 3px;
}

.header-2 {
    padding:30px;
    margin:0;
}
.grey {
    color:rgb(173, 173, 173);
    padding:30px;
    margin:0;
}

.second-section,
.fourth-section {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:90%;
    padding:30px;
}
.second-section > .section-2,
.section-3,
.fourth-section > .section-4 {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    width:25%;
}

.button-2 {
    padding: 5px 25px;
    font-size:15px;
    line-height: 20px;
    margin:10px;
    text-align: center;
    cursor: pointer;
    background-color: bisque;
    width:50%;
    color:#fff;
    border-radius: 8px;
    border: 1px solid transparent;
}
/*********** NATURAL **************/
.button-2.primary {
    background-color: blue;
}
.button-2.dark {
    background-color: rgb(51, 41, 41);
}
.button-2.info {
    background-color: purple;
}
.button-2.success {
    background-color: green;
}
.button-2.warning {
    background-color: rgb(238, 238, 0);
}
.button-2.danger {
    background-color: red;
}
/*********** HOVER **************/
div.section-2.hover a.button-2.primary:hover {
    background-color: rgb(0, 0, 129);
}
div.section-2.hover a.button-2.dark:hover {
    background-color: #000;
}
div.section-2.hover a.button-2.info:hover {
    background-color:  rgb(80, 0, 80);
}
div.section-2.hover a.button-2.success:hover {
    background-color: rgb(0, 85, 0);
}
div.section-2.hover a.button-2.button-2.warning:hover {
    background-color: rgb(180, 180, 1);
}
div.section-2.hover a.button-2.button-2.danger:hover {
    background-color: rgb(199, 1, 1);
}

/*********** ACTIVE **************/
div.section-2.active a.button-2.primary:active {
    background-color: rgb(0, 0, 129);
}
div.section-2.active a.button-2.dark:active {
    background-color: #000;
}
div.section-2.active a.button-2.info:active {
    background-color:  rgb(80, 0, 80);
}
div.section-2.active a.button-2.success:active {
    background-color: rgb(0, 85, 0);
}
div.section-2.active a.button-2.button-2.warning:active {
    background-color: rgb(180, 180, 1);
}
div.section-2.active a.button-2.button-2.danger:active {
    background-color: rgb(199, 1, 1);
}

/*********** DISABLED **************/

a.button-2.disabled,
a.button-2[disabled] {
    background-color: rgb(213, 213, 216);
    color: white;
    border-color: lightblue;
    cursor: default;
    pointer-events: none;
}

.header-4 {
    padding:30px;
    margin:0;
}


/********************* ICONS  **********************/
.section-4 > a.button {
    display: flex;
    align-items: center;
}

.section-4 > .button.btn-xl > svg {
    width: 26px;
    height: 26px;
    padding: 20px;
}
.section-4 > .button.btn-lg > svg {
    width: 20px;
    height: 20px;
    padding: 18px;
}
.section-4 > .button.btn-m > svg {
    width: 16px;
    height: 16px;
    padding: 16px;
}

.section-4 > .button.btn-sm > svg {
    width: 12px;
    height: 12px;
    padding: 14px;
}
.section-4 > .button.btn-xs > svg {
    width: 10px;
    height: 10px;
    padding: 10px;;
}









